<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>FVim</string>
  <key>CFBundleExecutable</key>
  <string>fvim-osx-launcher</string>
  <key>CFBundleIdentifier</key>
  <string>com.fvim.www</string>
  <key>CFBundleName</key>
  <string>FVim</string>
  <key>CFBundleIconFile</key>
  <string>fvim.icns</string>
  <key>NSHighResolutionCapable</key>
  <string>True</string>
  <key>CFBundleDocumentTypes</key>
  <array>
      <dict>
          <key>LSItemContentTypes</key>
          <array>
              <string>public.text</string>
          </array>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>vim</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>vim</string>
          <key>CFBundleTypeName</key>
          <string>Vim Script File</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>LSIsAppleDefaultForType</key>
          <true/>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>bib</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>bib</string>
          <key>CFBundleTypeName</key>
          <string>BibTeX bibliography</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>cfg</string>
              <string>conf</string>
              <string>config</string>
              <string>htaccess</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>cfg</string>
          <key>CFBundleTypeName</key>
          <string>Configuration file</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>hs</string>
              <string>lhs</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>hs</string>
          <key>CFBundleTypeName</key>
          <string>Haskell Source File</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>wiki</string>
              <string>wikipedia</string>
              <string>mediawiki</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>md</string>
          <key>CFBundleTypeName</key>
          <string>Mediawiki document</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>ps</string>
              <string>eps</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>ps</string>
          <key>CFBundleTypeName</key>
          <string>PostScript Source File</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>scm</string>
              <string>sch</string>
          </array>
          <key>CFBundleTypeName</key>
          <string>Scheme Source File</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>sql</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>sql</string>
          <key>CFBundleTypeName</key>
          <string>SQL Source File</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>tcl</string>
          </array>
          <key>CFBundleTypeName</key>
          <string>Tcl Source File</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>gtd</string>
              <string>gtdlog</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>md</string>
          <key>CFBundleTypeName</key>
          <string>GTD document</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>rst</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>rst</string>
          <key>CFBundleTypeName</key>
          <string>reStructuredText document</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>vba</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>vim</string>
          <key>CFBundleTypeName</key>
          <string>Vimball Archive</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>vhd</string>
              <string>vhdl</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>v</string>
          <key>CFBundleTypeName</key>
          <string>VHDL Source File</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>lua</string>
          </array>
          <key>CFBundleTypeIconFile</key>
          <string>lua</string>
          <key>CFBundleTypeMIMETypes</key>
          <array>
              <string>text/x-lua-script</string>
          </array>
          <key>CFBundleTypeName</key>
          <string>Lua Source File</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
      </dict>
  </array>
  <key>CFBundleShortVersionString</key>
  <string>0.01</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>0</integer>
  <key>IFMinorVersion</key>
  <integer>2</integer>
</dict>
</plist>
